<!--Footer-->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <footer class="foot">
                <div class="footerElem">
                    <div class="center-span">
                        <address>
                            NZA Law Firm | 222 W Ontario, #450 | Chicago, IL 60654 | 312-322-0000 phone 
                        </address>
                    </div>
                    <!--Make color grey-->
                    <p id="copyright">&copy;2020 Website Design by The Bob Marley's</p>
                </div>
            </footer>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>